
  body {
    box-sizing: border-box;
  }
  div {
    /* border: 1px solid purple; */
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
  }
  h1 {
    text-align: center;
    
  }
  input  {
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
 .input-box {
    width: 400px;
    height: 100px;
  }
  button {
    height: 50px;
    width: 100px;
  }
  .output-box {
    border: 1px solid black;
    height: 100px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    }
  